# Ignore all temporary files
*.pyc
*.pyo
*.pyd
__pycache__/
.dist
.idea

# Ignore specific files or directories
session.json
generate_voice.mp3
config.json
temp.py

# Ignore development tools
.vscode/
.venv
